.exaprt-container{
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 4px #888888;
    border-radius: 5px;
}


.expart-img{
    width: 286px;
    height: 200px;
    margin: 8px 7px 8px 7px;
    border-radius: 10px;


}
.expart-discription{
    font-size: 17px;
    font-weight: 600;
    color: black;
    opacity: 0.6;
    line-height: 30px;
    margin: 10px;
}
.expart-education{
    font-size: 19px;
    color: black;
    font-weight: 600;
    opacity: 0.9;
    text-align: center;
    margin-top: 20px;
}